<%- include('navbar') %>

<style>
    .otp-container {
        background: url('/public/assets/Forget-password.avif');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 90%;
        height: 100%;
        padding: 3rem;
        color: #232323;
        border-radius: 10px;
    }

    .user-otp-text {
        padding: 1rem;
        font-size: 4rem;
    }

    .otp-input {
        background: #fefeeb;
        color: #232323;
        text-align: center;
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        width: 10%;
    }

    .user-forget-input {
        margin: 2rem;
        display: flex;
        justify-content: center;
    }
</style>



<!-------------------------------------------- Forget password OTP ------------------------------------------------->

<div class="otp-container my-5 container w-50 d-flex flex-column align-items-center ">

    <div class="text-center">
        <h2 class="user-otp-text"><i class="bi bi-shield-fill-check"></i> Enter OTP Code</h2>
        <small class="">One Time Password (OTP) has been sent via Email to</small>
        <!------------------ Email of the user will show Here ------------------------>
        <b id="OTP-email">
            <%= email %>
        </b>
    </div>
    <div>
        <form action="/forgotpasswordotp" method="post" id="forgotpasswordotp">
            <div class="d-flex gap-2 user-forget-input">
                <input type="text" minlength="1" maxlength="1" name="otp1" class="otp-input" autocomplete="off" required>
                <input type="text" minlength="1" maxlength="1" name="otp2" class="otp-input" autocomplete="off" required>
                <input type="text" minlength="1" maxlength="1" name="otp3" class="otp-input" autocomplete="off" required>
                <input type="text" minlength="1" maxlength="1" name="otp4" class="otp-input" autocomplete="off" required>
                <input type="text" minlength="1" maxlength="1" name="otp5" class="otp-input" autocomplete="off" required>
            </div>
            <input type="hidden" name="otp" id="otp">
            <input type="hidden" name="otpTime" value="<%= otpTime %>" id="otpTime">
        </form>
    </div>
    <div id="otpTimer" class="mt-3"></div>
    <div><a href="/forgotpassword-resend/<%= email %>" id="resend-btn" class="btn submit-btn mt-3" style="display: none;">Resend</a></div>
    
    <button id="verify-btn" class="mt-4 btn submit-btn" form="forgotpasswordotp">Validate</button>

</div>


<script>
    const otpInputs = document.querySelectorAll('.otp-input');
    const hiddenOtpInput = document.getElementById('otp');
    const otpTimer = document.getElementById('otpTimer');
    const otpTime = parseInt(document.getElementById('otpTime').value, 10);
    const duration = 2 * 60 * 1000; // 2 minutes
    const verifyBtn = document.getElementById('verify-btn');
    const resendBtn = document.getElementById('resend-btn');

    otpInputs.forEach((input, index) => {
        input.addEventListener('input', () => {
            if (input.value.length === input.maxLength) {
                const nextInput = otpInputs[index + 1];
                if (nextInput) {
                    nextInput.focus();
                }
            }
            updateHiddenOtpInput();
        });
        input.addEventListener('keydown', (event) => {
            if (event.key === 'Backspace' && input.value.length === 0) {
                const prevInput = otpInputs[index - 1];
                if (prevInput) {
                    prevInput.focus();
                }
            }
        });
    });
    function updateHiddenOtpInput() {
        let otpValue = '';
        otpInputs.forEach(input => {
            otpValue += input.value;
        });
        hiddenOtpInput.value = otpValue;
    }
    function countDown() {
        const interval = setInterval(() => {
            const now = Date.now();
            let remain = duration - (now - otpTime);
            if (remain <= 0) {
                otpTimer.remove();
                verifyBtn.disabled = true;
                resendBtn.style.display = 'block';
                clearInterval(interval);
                return;
            }
            const min = Math.floor((remain % (1000 * 60 * 60)) / (1000 * 60));
            const sec = Math.floor((remain % (1000 * 60)) / 1000);
            otpTimer.innerHTML = `Time remaining: ${min}:${sec < 10 ? '0' : ''}${sec}`;
        }, 1000);
    }

    countDown();
</script>
<%- include('footer') %>